{% macro todo_completing(todo) -%}
	{% if todo.completed == 0 %}
		<form method="post" action="{{ url_for('todo_complete', id=todo.id) }}">
			<button type="submit" class="btn btn-xs"><span class="glyphicon glyphicon-unchecked"></span></button>
		</form>
	{% else %}
		<form method="post" action="{{ url_for('todo_reset', id=todo.id) }}">
			<button type="submit" class="btn btn-xs"><span class="glyphicon glyphicon-check"></span></button>
		</form>	
	{% endif %}
{%- endmacro %}


# Adapted from http://flask.pocoo.org/snippets/44/

{% macro render_pagination(pagination) %}
<div class=pagination>
	<ul class="pagination">
		{% if pagination.has_prev %}
			<li><a href="{{ url_for('todos', page=pagination.page-1, per_page=pagination.per_page)
			}}">&laquo;Prev </a></li>
		{% endif %}
		{%- for page in pagination.iter_pages() %}
			{% if page %}
				{% if page != pagination.page %}
					<li><a href="{{ url_for('todos', page=page, per_page=pagination.per_page) }}">{{ page }}</a></li>
				{% else %}
					<li><a><strong>{{ page }}</strong></a></li>
				{% endif %}
			{% else %}
				<li><span class=ellipsis>…</span></li>
			{% endif %}
		{%- endfor %}
		{% if pagination.has_next %}
			<li><a href="{{ url_for('todos', page=pagination.page+1, per_page=pagination.per_page)
			}}">Next &raquo;</a></li>
		{% endif %}
	</ul>
</div>
{% endmacro %}